{% extends 'parts/template-master.html' %}
{% block content %}
    <script type="text/javascript">
      window.onload = function() {
    Formio.icons = 'fontawesome';
    Formio.createForm(document.getElementById('formio'), {
    components: [
        {
            "label": "Username",
            "tableView": true,
            "key": "username",
            "type": "textfield",
            "input": true,
            "validate": {
                "required": true
            },
            "errors": {
                "required": "Username de Rol es un campo obligatorio."
            },
        },
         {
            "label": "Nombre",
            "tableView": true,
            "key": "nombre",
            "type": "textfield",
            "input": true,
            "validate": {
                "required": true
            },
            "errors": {
                "required": "Nombre es un campo obligatorio."
            },
        },
        {
            "label": "Apellido",
            "tableView": true,
            "key": "apellido",
            "type": "textfield",
            "input": true,
            "validate": {
                "required": true
            },
            "errors": {
                "required": "Apellido es un campo obligatorio."
            },
        },
        {
            "label": "Correo",
            "tableView": true,
            "key": "correo",
            "type": "textfield",
            "input": true,
            "validate": {
                "required": true
            },
            "errors": {
                "required": "Correo es un campo obligatorio."
            },
        },
          {
            "label": "+ Crear Usuario",
            "action": "event",
            "event": "evento-enviar-form",
            "showValidations": true,
            "disableOnInvalid": true,
            "tableView": false,
            "key": "submit",
            "type": "button",
            "input": true
        }

  ]
}).then(function(form) {
  form.on('evento-enviar-form', function(submission) {
    var json = JSON.stringify(form.data);
    document.getElementById('guardar_json_txt').value = json;
    document.getElementById('btn_aceptar_form').click();
  });
});
    document.getElementById('form-django').action = "{% url 'crear_usuario_sistema_post' %}";
};
    </script>
    <div class="col-sm">
        <h2>Crear nuevo Usuario</h2>
        <form id="formio"></form>
        {% include "parts/form.generic.html" %}
    </div>
    <br>
    <br>
    <a class="btn btn-danger" href="/roles-sistema">Volver a Lista de Usuarios</a>
    <br>
    <br>
{% endblock %}
