{% extends 'parts/template-master.html' %}
{% block content %}
    <script type="text/javascript">
      window.onload = function() {
    Formio.icons = 'fontawesome';
    Formio.createForm(document.getElementById('formio'), {
    components: [
        {
            "label": "Descripción de Permiso",
            "tableView": true,
            "key": "descripcion_permiso",
            "type": "textfield",
            "input": true,
            "validate": {
                "required": true
            },
            "errors": {
                "required": "Nombre del permiso es un campo obligatorio."
            },
        },
         {
            "label": "+ Crear Permiso",
            "action": "event",
            "event": "evento-enviar-form",
            "showValidations": true,
            "disableOnInvalid": true,
            "tableView": false,
            "key": "submit",
            "type": "button",
            "input": true
        }

  ]
}).then(function(form) {
  form.on('evento-enviar-form', function(submission) {
    var json = JSON.stringify(form.data);
    document.getElementById('guardar_json_txt').value = json;
    document.getElementById('btn_aceptar_form').click();
  });
});
    document.getElementById('form-django').action = "{% url 'crear_permiso_post' %}";
};
    </script>
    <div class="col-sm">
        <h1>Crear Permiso</h1>
        <form id="formio"></form>
        {% include "parts/form.generic.html" %}
    </div>
{% endblock %}
