{% extends 'parts/template-master.html' %}
{% block content %}
    <script type="text/javascript">
      window.onload = function() {
    Formio.icons = 'fontawesome';
    Formio.createForm(document.getElementById('formio'), {
    components: [
        {
            "label": "Nombre del producto",
            "tableView": true,
            "key": "nombre",
            "type": "textfield",
            "input": true,
            "validate": {
                "required": true
            },
            "errors": {
                "required": "Nombre del producto de Rol es un campo obligatorio."
            },
        },
         {
            "label": "Precio Minorista",
            "tableView": true,
            "key": "precio_minorista",
            "type": "number",
            "input": true,
            "validate": {
                "required": true
            },
            "errors": {
                "required": "Precio Minorista es un campo obligatorio."
            },
        },
        {
            "label": "Precio Intermedio",
            "tableView": true,
            "key": "precio_intermedio",
            "type": "number",
            "input": true,
            "validate": {
                "required": true
            },
            "errors": {
                "required": "Precio Intermedio es un campo obligatorio."
            },
        },
        {
            "label": "Precio Mayorista",
            "tableView": true,
            "key": "precio_mayorista",
            "type": "number",
            "input": true,
            "validate": {
                "required": true
            },
            "errors": {
                "required": "Precio Mayorista es un campo obligatorio."
            },
        },
        {
            "label": "Cantidad Stock Inicial",
            "tableView": true,
            "key": "cantidad_stock_inicial",
            "type": "number",
            "input": true,
            "validate": {
                "required": true
            },
            "errors": {
                "required": "Cantidad Stock Inicial es un campo obligatorio."
            },
        },
          {
            "label": "+ Crear Producto",
            "action": "event",
            "event": "evento-enviar-form",
            "showValidations": true,
            "disableOnInvalid": true,
            "tableView": false,
            "key": "submit",
            "type": "button",
            "input": true
        }

  ]
}).then(function(form) {
  form.on('evento-enviar-form', function(submission) {
    var json = JSON.stringify(form.data);
    document.getElementById('guardar_json_txt').value = json;
    document.getElementById('btn_aceptar_form').click();
  });
});
    document.getElementById('form-django').action = "{% url 'crear_producto_post' %}";
};
    </script>
    <div class="col-sm">
        <h2>Crear nuevo Usuario</h2>
        <form id="formio"></form>
        {% include "parts/form.generic.html" %}
    </div>
    <br>
    <br>
    <a class="btn btn-danger" href="/roles-sistema">Volver a Lista de Usuarios</a>
    <br>
    <br>
{% endblock %}
