{% extends 'parts/template-master.html' %}
{% block content %}
    <script type="text/javascript">
      window.onload = function() {
    Formio.icons = 'fontawesome';
    Formio.createForm(document.getElementById('formio'), {
    components: [
            {
                    "label": "Pedidos",
                    "widget": "choicesjs",
                    "tableView": true,
                    "validate": {
                        "required": true
                    },
                    "dataSrc": "url",
                    "data": {
                        "url": "http://localhost:8000/api/ventas/",
                        "headers": [
                            {
                                "key": "",
                                "value": ""
                            }
                        ]
                    },
                    "valueProperty": "id",
                    "dataType": "Object",
                    "template": '{% verbatim %} # {{item.id}} - {{ item.fecha_venta }} {% endverbatim %}',
                    "key": "pedido",
                    "defaultValue": "",
                    "type": "select",
                    "input": true
          },
          {
                    "label": "Producto",
                    "widget": "choicesjs",
                    "clearOnRefresh": true,
                    "refreshOn": "pedido",
                    "tableView": true,
                    "validate": {
                        "required": true
                    },
                    "dataSrc": "url",
                    "data": {
                        "url": "http://localhost:8000/venta-detalles/{% verbatim %}{{data.pedido}}{% endverbatim %}",
                        "headers": [
                            {
                                "key": "",
                                "value": ""
                            }
                        ]
                    },
                    "dataType": "Object",
                    "template": '{% verbatim %} # {{item.id}} - {{ item.nombre }} {% endverbatim %}',
                    "key": "producto",
                    "defaultValue": "",
                    "type": "select",
                    "input": true
          },
          {
            "label": "Cantidad",
            "tableView": true,
            "key": "cantidad",
            "type": "number",
            "input": true,
            "validate": {
                "required": true
            },
            "errors": {
                "required": "Cantidad es un campo obligatorio."
            },
        },
      {
            "label": "Motivo",
            "tableView": true,
            "key": "motivo",
            "type": "textfield",
            "input": true,
            "validate": {
                "required": true
            }
        },
          {
            "label": "Total a devolver",
            "tableView": true,
            "key": "total_devolver",
            "type": "textfield",
            "input": true,
            "validate": {
                "required": true
            },
            "calculateValue": "value = data.cantidad * data.producto.precio_unitario; console.log(value);if(isNaN(value)) { value = '' };"
        },
          {
            "label": "+ Registrar devolucion",
            "action": "event",
            "event": "evento-enviar-form",
            "showValidations": true,
            "disableOnInvalid": true,
            "tableView": false,
            "key": "submit",
            "type": "button",
            "input": true
        }

  ]
}).then(function(form) {
  form.on('evento-enviar-form', function(submission) {
    var json = JSON.stringify(form.data);
    document.getElementById('guardar_json_txt').value = json;
    document.getElementById('btn_aceptar_form').click();
  });
});
    document.getElementById('form-django').action = "{% url 'crear_devolucion_post' %}";
};
    </script>
    <div class="col-sm">
        <h2>Registrar devolucion</h2>
        <form id="formio"></form>
        {% include "parts/form.generic.html" %}
    </div>
    <br>
    <br>
    <a class="btn btn-danger" href="/roles-sistema">Volver a Lista de Usuarios</a>
    <br>
    <br>
{% endblock %}
