{% extends 'parts/template-master.html' %}
{% block content %}
    <script type="text/javascript">
      window.onload = function() {
    Formio.icons = 'fontawesome';
    Formio.createForm(document.getElementById('formio'), {
    components: [
        {
            "label": "ID del cliente",
            "tableView": true,
            "disabled": true,
            "key": "id_producto",
            "type": "textfield",
            "input": true,
            "defaultValue": '{{ cliente.id|default_if_none:""}}',
            "validate": {
                "required": true
            },
            "errors": {
                "required": "id del producto de Rol es un campo obligatorio."
            },
        },
        {
            "label": "Nombre",
            "tableView": true,
            "key": "nombre",
            "type": "textfield",
            "input": true,
            "validate": {
                "required": true
            },
            "defaultValue": '{{ cliente.nombre|default_if_none:""}}',
            "errors": {
                "required": "Nombre del producto de Rol es un campo obligatorio."
            },
        },
         {
            "label": "Documento",
            "tableView": true,
            "key": "documento",
            "type": "textfield",
            "input": true,
            "validate": {
                "required": true
            },
             "defaultValue": '{{ cliente.documento|default_if_none:""}}',
            "errors": {
                "required": "Precio Minorista es un campo obligatorio."
            },
        },
        {
            "label": "Telefono",
            "tableView": true,
            "key": "telefono",
            "type": "textfield",
            "input": true,
            "validate": {
                "required": true
            },
            "defaultValue": '{{ cliente.telefono|default_if_none:""}}',
            "errors": {
                "required": "Telefono es un campo obligatorio."
            },
        },
          {
            "label": "+ Modificar Cliente",
            "action": "event",
            "event": "evento-enviar-form",
            "showValidations": true,
            "disableOnInvalid": true,
            "tableView": false,
            "key": "submit",
            "type": "button",
            "input": true
        }

  ]
}).then(function(form) {
  form.on('evento-enviar-form', function(submission) {
    var json = JSON.stringify(form.data);
    document.getElementById('guardar_json_txt').value = json;
    document.getElementById('btn_aceptar_form').click();
  });
});
    document.getElementById('form-django').action = "{% url 'modificar_cliente_post' id=cliente.id %}";
};
    </script>
    <div class="col-sm">
        <h2>Actualizar producto</h2>
        <form id="formio"></form>
        {% include "parts/form.generic.html" %}
    </div>
    <br>
    <br>
    <a class="btn btn-danger" href="/roles-sistema">Volver a Lista de Usuarios</a>
    <br>
    <br>
{% endblock %}
