            <!-- Footer -->
            <div class="col-sm-4">
            <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-danger btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-arrow-left"></i>
                </span>
                <span class="text">Volver página anterior</span>
            </a>
                </div>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; LA MEJOR WEB DEL AÑO 2023</span>
                        <br>
                        <br>
                        <span>XXXXXXXXXXXXXXXXXX</span>
                    </div>
                </div>

                {% load static %}
                <script src="{%  static "oauth_project/js/correcion-libreria-equipo.js" %}">
                </script>
            </footer>
            <!-- End of Footer -->
