{% extends 'parts/template-master.html' %}
{% block content %}
    <h1>Categorias del sistema</h1>
    <a class="btn btn-primary" href="{% url 'crear-form-categoria' %}">Crear Categoria</a>
    <br>
    <br>
    <div class="text-center">

    <table id="tabla-potenciada" class="table">
      <thead>
        <tr>
          <th scope="col">Cod.</th>
          <th scope="col">Nombre</th>
          <th scope="col">Estado</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
         <tbody>
         {% for queue in data.categorias %}
        {% if not queue.orderDate %}
            <tr>
                <td>{{ queue.id }}</td>
                <td>{{ queue.nombre }}</td>
                <td>
                {% if queue.is_activo == True %}
                <a href="#" class="btn btn-success btn-circle btn-sm">
                    <i class="fas fa-check"></i>
                </a>
                {% else %}
                <a href="#" class="btn btn-warning btn-circle btn-sm">
                    <i class="fas fa-exclamation-triangle"></i>
                </a>
                {% endif %}
                </td>
                <td>

                {% if queue.is_activo == False %}
                <a href="{% url 'activar_categoria_get' id=queue.id %}" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                    </span>
                    <span class="text">Activar</span>
                </a>
                {% else %}
                <a href="{% url 'desactivar_categoria_get' id=queue.id %}" class="btn btn-danger btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-exclamation-triangle"></i>
                    </span>
                    <span class="text">Desactivar</span>
                </a>
                {% endif %}

                <a href="{% url 'actualizar_categoria_get' id=queue.id %}" class="btn btn-facebook btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-exclamation-triangle"></i>
                    </span>
                    <span class="text">Modificar</span>
                </a>

                </td>

            </tr>
        {% endif %}
    {% endfor %}
            {% for queue in lista_permisos %}
            {% if not queue.orderDate %}
                <tr><td>{{ queue.id }}</td><td>{{ queue.descripcion }}</td></tr>
            {% endif %}
            {% endfor %}
          </tbody>
    </table>
</div>
{% endblock %}


