{% extends 'parts/template-master.html' %}
{% block content %}
    <h1>Usuarios en el sistema</h1>
    <a class="btn btn-primary" href="{% url 'crear-form-usuario-sistema' %}">Crear Usuario</a>
    <br>
    <br>
    <div class="text-center">

    <table id="tabla-potenciada" class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Username</th>
          <th scope="col">Correo</th>
          <th scope="col">Estado</th>
          <th scope="col">Roles</th>
          <th scope="col">Accion</th>
        </tr>
      </thead>
         <tbody>
         {% for queue in data.usuarios %}
        {% if not queue.orderDate %}
            <tr>
                <td>{{ queue.id }}</td>
                <td>{{ queue.username }}</td>
                <td>{{ queue.email }}</td>

                <td>
                {% if queue.is_active == True %}
                <a href="#" class="btn btn-success btn-circle btn-sm">
                    <i class="fas fa-check"></i>
                </a>
                {% else %}
                <a href="#" class="btn btn-warning btn-circle btn-sm">
                    <i class="fas fa-exclamation-triangle"></i>
                </a>
                {% endif %}
                </td>
                <td>
                    {% for f in queue.roles %}
                        {{ f }}
                    {% endfor %}
                </td>

                <td>

                {% if queue.is_active == False %}
                <a href="{% url 'activar_usuario_get' id=queue.id %}" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                    </span>
                    <span class="text">Activar</span>
                </a>
                {% else %}
                <a href="{% url 'desactivar_usuario_get' id=queue.id %}" class="btn btn-danger btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-exclamation-triangle"></i>
                    </span>
                    <span class="text">Desactivar</span>
                </a>
                {% endif %}

                <a href="{% url 'reiniciar_password_get' id=queue.id %}" class="btn btn-info btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-info-circle"></i>
                    </span>
                    <span class="text">Resetear Password</span>
                </a>

                <a href="{% url 'actualizar_rol_usuario' id_usuario=queue.id %}" class="btn btn-info btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-info-circle"></i>
                    </span>
                    <span class="text">Modificar Roles</span>
                </a>

                </td>

            </tr>
        {% endif %}
    {% endfor %}
            {% for queue in lista_permisos %}
            {% if not queue.orderDate %}
                <tr><td>{{ queue.id }}</td><td>{{ queue.descripcion }}</td></tr>
            {% endif %}
            {% endfor %}
          </tbody>
    </table>
</div>
{% endblock %}


