<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.form.io/formiojs/formio.full.min.css">
    <script src="https://cdn.form.io/formiojs/formio.full.min.js"></script>
    <script type="text/javascript">
      window.onload = function() {
    Formio.icons = 'fontawesome';
    Formio.createForm(document.getElementById('formio'), {
    components: [
          {
            "label": "Select",
            "widget": "choicesjs",
            "tableView": true,
            "dataSrc": "url",
            "data": {
                "url": "http://localhost:8000/api/permisos/",
                "headers": [
                    {
                        "key": "",
                        "value": ""
                    }
                ]
            },
            "valueProperty": "id",
            "dataType": "Object",
            "template": '{% verbatim %} {{item.id}} - {{item.descripcion}} {% endverbatim %}',
            "key": "select",
            "type": "select",
            "input": true,
            "disableLimit": true
        },
        {
            "type": "button",
            "label": "Submit",
            "key": "submit",
            "disableOnInvalid": true,
            "input": true,
            "tableView": false
        }

  ]
}).then(function(form) {
  form.on('submit', function(submission) {

  });
});
      };
    </script>
    </head>
    <body>
    <form id="formio" action="../permisos/nuevopermiso/" method="POST"></form>
    </body>
</html>

